.announcement-bar {
    padding: 10px 65px;
    width: 100%;
    position: absolute;
    top: 64px;
    left: 0;
    z-index: 4;
    background-color: $charcoal;

    p {
        font-size: 12px;
        line-height: 16px;
        color: $white;
        text-align: center;
    }
}