.position {
    &-relative {
        position: relative;
    }

    &-absolute {
        position: absolute;
    }
}

.p-20 {
    padding: 40px 20px 0;
}

.btn-trans {
    background-color: transparent;
}

.w-100 {
    width: 100%;
}

.pb-0 {
    padding-bottom: 0;
}

.h {
    &-100 {
        height: 100%;
    }

    &-auto {
        height: auto;
    }

    &-88vh {
        height: 88vh;
    }

    &-93vh {
        height: 93vh;
    }
}

.text {
    &-center {
        text-align: center;
    }

    &-dark {
        color: $charcoal;
    }
}

.bg-mid-blue {
    background-color: $mid-blue;
}

.pb {
    &-extra {
        &-100 {
            padding-bottom: 100px;
        }

        &-50 {
            padding-bottom: 50px;
        }
    }
}

.p-0 {
    padding: 0 !important;
}