.page-banner {
    width: 100%;
    height: 285px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;

    &.carousel {
        height: 305px;
        background-color: transparent;
    }

    img {
        height: 285px;
    }

    .slick {
        &-list {
            max-height: calc(100% - 25px);
            max-width: 400px;
        }

        &-dots {
            position: relative;
            bottom: initial;
            margin-top: 10px;
        }

        &-slider {
            height: 100%;
        }
    }
}