.offer {
    &-body {
        padding: 14px 20px;
        display: grid;
        gap: 40px;
    }

    &-img {
        width: 100%;
        height: 150px;
        border-radius: 10px;
        overflow: hidden;
        @include flex-centered;

        .img-overlay {
            flex-direction: column;
            gap: 5px;
            font-weight: 500;

            span {
                text-decoration: line-through;
            }
        }
    }

    &-detail {
        display: grid;
        gap: 27px;
    }

    &-heading {
        font-size: 17px;
        line-height: 19px;
        font-weight: 700;
        color: $charcoal;
    }

    &-content {
        font-size: 15px;
        line-height: 20px;
        color: $dark-gray;
        font-weight: 300;

        &-wrap {
            gap: 15px;
            display: grid;
        }
    }
}

.offers {
    ul {
        display: grid;
        gap: 9px;
    }

    li {
        padding-left: 24px;
        position: relative;
        list-style-type: none;
        font-size: 11px;
        line-height: 15px;
        font-weight: 600;
        color: $charcoal;

        .check {
            position: absolute;
            left: 3px;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: $dark;
            font-size: 15px;
            color: $white;
            @include flex-centered;
        }
    }
}

.detail-img {
    gap: 32px;

    .offer-img {
        height: 270px;
    }
}