.full-page {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

.preview {
    &-wrap {
        width: calc(100% - 400px);
        overflow: auto;

        @media (max-width: 992px) {
            display: none;
        }
    }

    &-pane {
        flex-grow: 1;
        background-color: $mid-gray;
        display: flex;
        justify-content: center;
        padding-block: 100px;
        overflow-y: auto;
    }

    &-heading {
        font-size: 32px;
        line-height: 36px;
        font-weight: 700;
        color: $dark;
        text-align: center;
    }
}

.side-img {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 22px;
    // background-color: $light-gray;
    @include flex-centered;

    img {
        height: 100%;
    }
}

.fix-width {
    flex-shrink: 1;
    position: relative;
    overflow-y: auto;
    min-height: auto;
}

.product {
    &-bottom {
        gap: 26px;
        display: grid;
        grid-template-columns: 35% calc(65% - 26px);
    }

    &-rating-wrap {
        gap: 9px;

        .review-count {
            font-size: 12px;
            line-height: 16px;
            color: $blue;
        }
    }

    &-tab {
        max-width: 500px;
    }
}

.video {
    &-sidebar {
        position: fixed;
        top: 0;
        z-index: 4;
        width: 60%;
        height: 100vh;
        background-color: $mid-gray;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-slider {
        &-wrap {
            .slick {
                &-slide {
                    position: relative;
                    border-radius: 5px;
                    overflow: hidden;
                    max-height: 205px;
                }

                &-track {
                    display: flex;
                    gap: 9px;
                }

                &-dots {
                    bottom: -40px;
                    text-align: start;
                    left: 9px;
                }
            }
        }
    }

    &-wrapper {
        width: 400px;
        position: relative;

        @media (max-width: 400px) {
            width: 100%;
        }

        video {
            width: 100%;
        }
    }

    &-carousel {
        padding-top: 26px;
        padding-bottom: 50px;
        margin-left: 20px;

        video {
            width: 100%;
            height: 100%;
        }
    }

    &-play-btn {
        width: 47px;
        height: 47px;
        border-radius: 50%;
        background-color: $dark;
        @include flex-centered;
        position: absolute;
        z-index: 3;
        top: calc(50% - 23.5px);
        left: calc(50% - 23.5px);
    }
}

.sidebar-close {
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $dark;
    top: 14px;
    right: 30px;
    font-size: 14px;
    font-weight: 600;
    color: $wheat;
    @include flex-centered;
    border: none;
}

.benefits-cards-wrap {
    display: flex;
    gap: 16px;
    padding: 26px 20px;
    flex-direction: column;
}

.faq-section {
    padding: 26px 20px;
}

.content {
    color: $charcoal;
    font-size: 12px;
    line-height: 16px;
}

.text-section-wrap {
    padding: 0 20px;

    .section-title {
        margin: 40px 0 15px;
    }
}

.section-content-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list-content {
    color: $charcoal;
    padding: 0 20px;

    li {
        margin-block: 20px;
    }

    p {
        font-size: 12px;
        line-height: 18px;

        span {
            font-weight: 700;
            font-size: 12px;
            line-height: 22px;
        }
    }
}

.product-grid {
    &-wrap {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(2, 46%);
        margin-top: 16px;
    }

    &-item {
        width: 100%;
        height: 175px;
        border-radius: 10px;
        overflow: hidden;

        .text {
            font-size: 15px;
            line-height: 17px;
        }

        .img-overlay {
            padding: 16px 12px;
        }
    }
}