.video-slider-progress-wrap {
    .video-carousel-item {
        width: 100%;
        height: 545px;
        border-radius: 30px;
        overflow: hidden;
        margin-top: 15px;
        box-shadow: 0px 0px 18px 0px #0000001A;

        .mute {

            &-wrap,
            &-btn {
                top: 45px;
            }
        }

        .cta-wrap {
            width: 100%;
            position: absolute;
        }

        video,
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .slick {
        &-list {
            max-height: 560px;
        }

        &-track {
            display: flex;
            gap: 7px;
        }

        &-dots {
            bottom: 16px;
        }

        &-active {
            .video-carousel-item {
                box-shadow: none;
            }
        }

        &-slide {
            width: 340px;
        }
    }

    .progress-wrap {
        bottom: auto;
        top: 21px;
        padding-inline: 33px;
    }
}